/* common styles */
/* poppins google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
}

main {
    max-width: 1200px;
    margin: 0 auto;
}

.primary-color {
    color: #3A3A3A;
}

.top-header {
    font-size: 24px;
    font-weight: 700;
}

.primary-description {
    font-size: 16px;
    font-weight: 600;
}

.common-btn {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    font-weight: 700;
    padding: 10px 24px;
    background-color: #E02C6D;
    border: none;
    color: #fff;
}

/* header styles */
/* logo and nav style */
.header-container {
    max-width: 1440px;
    margin: 0 auto;
}

.header-content-container {
    margin: 87px 120px 50px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header-content-container ul {
    display: flex;
    gap: 20px;
}

.header-content-container li {
    list-style: none;
}

.header-content-container a {
    text-decoration: none;
    color: #3A3A3A;
}

/* header banner style */
.header-banner-container {
    margin: 0 120px;
    display: flex;
    align-items: center;
    background-image: url('../images/Circle\ design.svg');
    background-repeat: no-repeat;
    background-position: right;
    padding: 50px 0;
}

.banner-left-heading {
    font-size: 50px;
    font-weight: 700;
}

.banner-left-description {
    width: 505px;
    margin: 16px 0;
}

.prebook-btn {
    border-radius: 41px;
}

/* main section styles */
/* brand section style */
.brand {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #c0ccda54;
    border-bottom: 1px solid #c0ccda54;
    padding: 40px 0;
    margin-top: 70px;
}

/* popular collection style */
.popular-collection>h3 {
    margin-top: 100px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    color: #3A3A3A;
}

.popular-collection-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.single-collection {
    padding: 15px;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}

.single-collection>h3 {
    font-size: 28px;
    font-weight: 700;
    margin: 16px 0 6px 0;
    color: #18191F;
}

.single-collection>h4 {
    font-size: 24px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.87);
    margin: 6px 0 8px 0;
}

.single-collection>p {
    display: flex;
    align-items: center;
}

.single-collection>p .fa-star,
.fa-star-half-stroke {
    font-size: 11px;
    color: #FB8200;
}

.ratings {
    font-size: 14px;
    font-weight: 700;
    margin-left: 10px;
}

.single-collection img {
    border-radius: 5px;
    width: 100%;
}

.popular-description {
    color: #787885;
    font-size: 14px;
    font-weight: 700;
}

.see-more {
    color: rgba(224, 44, 109, 0.87);
    font-size: 16px;
    font-weight: 700;
    text-align: right;
    margin-top: 50px;
}

/* feature product style */
.featured-product-container {
    display: flex;
    gap: 96px;
    margin-top: 100px;
}

.featured-content>h3 {
    color: #0A0826;
    font-size: 38px;
    font-weight: 700;
}

.featured-content>p {
    width: 500px;
    color: #6C6C6C;
    font-size: 16px;
    font-weight: 700;
    margin: 16px 0;
}

/* responsive media query */
@media screen and (max-width:576px) {
    .header-content-container {
        flex-direction: column;
        margin: 35px 22px;
    }

    .header-content-container ul {
        padding: 0;
    }

    .header-banner-container {
        flex-direction: column-reverse;
        background-size: 100%;
        background-position: top;
        padding: 20px 0;
        margin: 50px;
        text-align: center;
    }

    .header-left-document {
        margin-top: 50px;
    }

    .header-banner-container img {
        width: 90%;
    }

    .banner-left-heading {
        font-size: 28px;
    }

    .banner-left-description {
        width: 100%;
    }

    .prebook-btn {
        margin: 0 auto;
    }

    .brand {
        padding: 0 100px;
        justify-content: space-between;
        border: none;
        flex-wrap: wrap;
    }

    .popular-collection-content {
        grid-template-columns: 1fr;
    }

    .single-collection {
        margin: 0 20px;
    }

    .featured-product-container {
        flex-direction: column-reverse;
        text-align: center;
        padding: 20px;
        margin: 30px 0;
    }

    .featured-content>p {
        width: 100%;
    }

    .join-btn {
        margin-top: 40px;
        margin: 0 auto;
    }
}